
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 1000; /* variable range */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* variable range */
  font-style: normal;
  font-display: swap;
}